<%= link_to "Добавить сотрудника", new_person_path %>

<table>
  <tr>
    <td>Имя</td>
    <td>Комната</td>
    <td>Внутренний телефон</td>
    <td>Роль</td>
  </tr>
  <% for person in @people %>
      <tr>
        <td><p><%= person.name %></p></td>
        <td><p><%= person.room %></p></td>
        <td><p><%= person.internal_phone %></p></td>
        <td><p><%= person.role %></p></td>
        <td><%= link_to "Посмотреть", person_path(person) %></td>
        <td><%= link_to "Изменить", edit_person_path(person) %></td>
        <td><%= link_to "Удалить", person_path(person),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<p><%= @time %></p>

<div id="calendar">
  <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1) %>
    <%= Russian::strftime(@date, "%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1) %>
  </h2>
  <%= calendar_for @meals, :year => @date.year, :month => @date.month, :first_day_of_week => 1 do |calendar| %>
      <%= calendar.head('Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота', 'Воскресенье') %>
      <%= calendar.day(:day_method => :date) do |date, meals| %>
          <%= date.day %>
          <ul>
            <% for meal in meals %>
                <% for dish in meal.dishes %>
                    <li><%= dish.name %></li>
                    <li><%= dish.description %></li>
                    <li><%= dish.price %></li>
                <% end %>
            <% end %>
          </ul>
      <% end %>
  <% end %>
</div>


<style>
    #calendar table {
        border-collapse: collapse;
        width: 100%;
    }

    #calendar td,
    #calendar th {
        font-family: "Lucida Grande",arial,helvetica,sans-serif;
        font-size: 10px;
        padding: 6px;
        border: 1px solid #999;
    }

    #calendar th {
        background: #DDD;
        color: #666;
        text-align: center;
        width: 14.2857142857143%;
    }

    #calendar td {
        background: #FFF;
        color: #777;
        height: 80px;
        vertical-align: top;
        font-size: 16px;
    }

    #calendar .notmonth {
        color: #CCC;
    }

    #calendar #month {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

    #calendar #month a, #calendar #month a:hover {
        text-decoration: none;
        padding: 0 10px;
        color: #999;
    }

    #calendar .today {
        background-color: #D7F2FF;
    }

    #calendar ul {
        margin: 0;
        margin-top: 5px;
        padding: 0;
        list-style: none;
    }

    #calendar li {
        margin: 0;
        padding: 0;
        font-size: 11px;
        text-align: center;
    }
</style>
