<%= link_to "Добавить сотрудника", peoples_New_path %>

<table>
  <tr>
    <td>Имя</td>
    <td>Комната</td>
    <td>Внутренний телефон</td>
    <td>Роль</td>
  </tr>
  <% for people in @peoples %>
      <tr>
        <td><p><%= people.name %></p></td>
        <td><p><%= people.room %></p></td>
        <td><p><%= people.internal_phone %></p></td>
        <td><p><%= people.role %></p></td>
        <td><%= link_to "Посмотреть", peoples_Show_path(people_id: people.id) %></td>
        <td><%= link_to "Изменить", peoples_Edit_path(people_id: people.id) %></td>
        <td><%= link_to "Удалить", peoples_Delete_path(people_id: people.id) %></td>
      </tr>
  <% end %>
</table>

<p><%= @flag %></p>
<p><%= @role1 %></p>
<p><%= @role2 %></p>
